@import url('../fonts/neueHassGrotesk/stylesheet.css');
$font1: "Times New Roman";
$font2: "Neue Haas Grotesk Display";
header {
    padding: 48px 48px 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .custom-logo-link {
        transition: all 800ms ease-in-out;
        transition-delay: 300ms;
    }
    .menu-toggle {
        position: absolute;
        top: 48px;
        right: 48px;
        background-color: transparent;
        border: 0;
        transition: all 800ms ease-in-out;
        transition-delay: 300ms;
        &:active, &:focus, &:focus-visible {
            outline: none;
            border: 0;
        }
    }
}

body:has(.menu-wrapper.open) {
    .menu-toggle, .custom-logo-link {
        filter: none;
    } 
}

body.loading {
    header .custom-logo-link, header .menu-toggle {
        filter: brightness(0) saturate(0);
    }
    .hero {
        color: #000;
    }
}

.menu-wrapper {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    padding: 166px 48px 48px;
    clip-path: circle(0% at 100% 0%);
    transition: all 1200ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    &.open {
        clip-path: circle(200% at 100% 0%);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a{
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                font-size: 34px;
                font-family: $font2;
            }
            + li {
                margin-top: 4px;
            }
        }
    }
    .menu-footer {
        font-weight: 400;
        color: #fff;
        font-size: 24px;
    }
}


.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: $font1;
    line-height: 1;
    z-index: 1;
    position: relative;
    .texto-home {
        position: relative;
        z-index: 100;
    }

    .loading-wrapper {
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 48px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        color: rgba(#959595, .2);
        font-size: 240px;
        font-family: $font2;
        transition: opacity 600ms;
        position: absolute;
        inset: 0;
    }
    .swiper {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        .swiper-slide {
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba(#000, 0.3);
            }
            a {
                position: absolute;
                inset: 0;
            }
        }
    }
}

.trabalho {
    padding: 86px 160px 48px 48px;
    .fotos {
        flex: 2;
        max-width: 1000px;
        padding-right: 30px;
        img {
            width: 100%;
            height: auto;
            + img {
                margin-top: 24px;
            }
        }
    }
    .descricao {
        font-family: $font2;
        font-size: 24px;
        flex: 1;
        max-width: 588px;
        h2 {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 48px;
        }
    }
}

.trabalhos {
    padding: 86px 160px 48px 48px;
    display: flex;
    &:not(:has(.projetos li:hover)) .foto-projeto:first-child {
        display: block;
    }
    @for $i from 1 through 100 {
        &:has(.projetos li:nth-child(#{$i}):hover) .foto-projeto:nth-child(#{$i}) {
            display: block;
        }
    }
    .fotos {
        flex: 2;
        max-width: 1000px;
        padding-right: 30px;
        .foto-projeto {
            display: none;
            width: 100%;
            height: auto;
        }
    }
    .projetos {
        flex: 1;
        max-width: 588px;
        ul {
            list-style-type: none;
            font-family: $font2;
            font-size: 24px;
            padding: 0;
            margin: 0;
            li {
                border-bottom: 1px solid #EFEFEF;
                a {
                    color: #959595;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: #959595;
                    }
                }
            }
        }
    }
}

.contato {
    padding: 86px 48px 48px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .map {
        margin-bottom: 74px;
        flex: 1;
        iframe {
            width: 100%;
            max-width: 896px;
            height: 100%;
        }
    }

    .copy-text {
        p {
            font-size: 16px;
            font-weight: bold;
            margin-top: 16px;
            margin-bottom: 0;
        }
    }
}

