$font1: "Times New Roman";
header {
    padding: 48px 48px 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .custom-logo-link {
        filter: brightness(0) saturate(0);
        transition: all 800ms ease-in-out;
        transition-delay: 300ms;
    }
    .menu-toggle {
        position: absolute;
        top: 48px;
        right: 48px;
        background-color: transparent;
        border: 0;
        filter: brightness(0) saturate(0);
        transition: all 800ms ease-in-out;
        transition-delay: 300ms;
        &.black img {
            filter: brightness(0) saturate(0);
        }
    }
}

body:has(.menu-wrapper.open) {
    .menu-toggle, .custom-logo-link {
        filter: none;
    } 
}

.menu-wrapper {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    padding: 166px 48px 48px;
    clip-path: circle(0% at 100% 0%);
    transition: all 1200ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.open {
        clip-path: circle(1000% at 100% 0%);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a{
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                font-size: 34px;
            }
            + li {
                margin-top: 4px;
            }
        }
    }
    .menu-footer {
        font-weight: 400;
        color: #fff;
        font-size: 24px;
    }
}


.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: $font1;
    line-height: 1;
}

.contato {
    padding: 86px 48px 48px;
    .map {
        margin-bottom: 74px;
        iframe {
            width: 100%;
            max-width: 896px;
            aspect-ratio: 896/703;
        }
    }

    .copy-text {
        font-size: 16px;
        font-weight: bold;
        margin-top: 16px;
    }
}

