header {
    padding: 48px 48px 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .custom-logo-link img {
        filter: brightness(0) saturate(0);
    }
    .menu-toggle {
        position: absolute;
        top: 48px;
        right: 48px;
        background-color: transparent;
        border: 0;
        filter: brightness(0) saturate(0);
        transition: all 800ms ease-in-out;
        transition-delay: 300ms;
        &.black img {
            filter: brightness(0) saturate(0);
        }
    }
}

body:has(.menu-wrapper.open) {
    .menu-toggle, .custom-logo-link {
        filter: none;
    } 
}

.menu-wrapper {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    padding: 86px 48px 48px;
    clip-path: circle(0% at 100% 0%);
    transition: all 1200ms ease-in-out;
    &.open {
        clip-path: circle(1000% at 100% 0%);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a{
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                font-size: 34px;
            }
            + li {
                margin-top: 4px;
            }
        }
    }
}


.hero {
    height: 100dvh;
    display: flex;
    align-items: center;
}